<mat-toolbar style=" background: #4CAF50;">
  <span>Supermercato</span>
  <mat-icon>shopping_cart</mat-icon>
</mat-toolbar>


<div class="col-12">
  <div class="login-page">
    <div class="row-col 12">
      <mat-toolbar style=" background: #4CAF50;">
        <span>Login</span>
        <mat-icon>perm_identity</mat-icon>
      </mat-toolbar>
    </div>
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Enter Username" [(ngModel)] = "userid" name="uname" required>
      <input type="password" placeholder="Enter Password" [(ngModel)] = "password" name="psw" required>
      <button (click) = gestAut() type="submit">Login</button>
    </form>
  </div>
</div>

</div>






      




